@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    /* padding: 10px 0 0 0;  */
}
button{
    outline: none;
}
.box-gray {
    box-shadow: 1px 3px 20px 0 rgba(30,86,78,.15);
    padding: 20px;
}
.header {
    height: 70px;
    border: 0.5px solid black;
    padding: 3px 30px 3px 70px;
    flex-direction: row;
    display: flex;
    background-color: #130241;
    width: 100%;
    margin: 0;
}
#logo-header {
    max-width: 60px;   
}
.search-bar {
    align-self: center;
    width: 85%;
    padding-left: 30px;
    /* background-color: aqua; */
}
#search-bar {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 7px;
    padding-right: 0;

}
.header-part1 {
    display: flex;
    width: 40%;
}
.header-part2 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    /* background-color: red; */
    /* padding-left: 30px; */
}
.buttons, .user-menu {
    align-self: center;
}
.user-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 249px;
    height: 50px;
    margin: 0;
    /* background-color: royalblue; */
}
.buttons {
    /* background-color: aqua; */
    /* left: 30px; */
    /* width: 50%; */
}
#navbar {
    position: absolute;
    right: 0;
    /* left: calc(100% - 450px); */
    max-width: 450px;
    width: 100%; /*menos de 450px, responsivo. mais - 100%. */
    height: 380px;
    display: none;
    background-color: #FFF;
    -webkit-box-shadow: -2px 3px 11px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: -2px 3px 11px -2px rgba(0,0,0,0.45);
    box-shadow: -2px 3px 11px -2px rgba(0,0,0,0.45);
    z-index: 3;
}

.flex-nav {
    justify-content: flex-start;
}
.btn-navbar {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    color: #444;
    font-size: 16px;
    /* text-align: left; */
    /* padding-left: 30px; */
}
#btn-login-navbar {
    background-color: #FF4D01;
    color: #FFF;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    font-size: 21px;
    width: 80%;
    margin-top: 30px;
}
i {
    color: #FFF;
    font-size: 30px;
}
.icons {
    justify-content: space-between;
    display: flex;
    width: 40%;
    align-items: center;
    /* background-color: #3D1550; */
}
.btn-header {
    background-color: transparent;
    color: #FFF;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    height: 48px;
    width: 110px;
    border-radius: 4px;
}
.btn-header:hover{
    background-color: #3D1550;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
#btn-login-header {
    background-color: #FF4D01;
    color: #FFF;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    font-size: 21px;
    width: 120px;
    height: 50px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
.logo {
    cursor: pointer
}
split {
    align-self: center;
    width: 0;
    height: 40px;
    position: relative;
    left: -15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.ico-menu {
    display: flex;
    visibility: hidden;
    position: relative;
    float: left;
    /* right: -20px; */
    /* background-color: #FFF; */
    /* right: calc(100% - 100px); */
    /* left: 20%; */
    align-items: center;
}
.ico-menu:hover {
    cursor: pointer;
}
@media only screen and (max-width: 1200px) {
    .header {
        padding: 3px 0 3px 20px;
        margin: 0;
    }
    .buttons {
        width: 50%;
    }
    split {
        left: 0;
    }
}

@media only screen and (max-width: 1100px) {
    .header-part2 {
        display: none;
    }
    #search-bar {
        width: 200%;
    }
    .ico-menu {
        visibility: visible;
        left: 55%;
    }
    .header {
        padding: 3px 20px 3px 15px;
    }
}

@media only screen and (max-width: 524px){
    #search-bar {
        width: 200px;
        left: -10px;
        position: relative;
    }
    #navbar {
        left: 0;
    }
    .row {
        padding-left: 0;
    }
}
