@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');



::-moz-selection { /* Code for Firefox */
   color: #3D1550;
   background: #FFF;
}
 
::selection {
   color: #3D1550;
   background: #FFF;
}
[type = text]::selection, [type = password]::selection, [type = number]::selection {
   background: #3D1550;
   color: #FFF
}

.container-fluid {
    max-width: 100vw;
    height: 100vh;
    background: #130241;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.child{
   
   width: 1000px;
   height: 615px;
   animation: arising 0.9s;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center
}


.child #slider {
   background-color: #FFFFFF;
   height: 555px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   border-radius: 15px;
   left: -10px;
   left: calc(50% - 750px); /* centralizada */
   -webkit-box-shadow: -1px 2px 9px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 2px 9px -2px rgba(0,0,0,0.75);
   box-shadow: -1px 2px 9px -2px rgba(0,0,0,0.75);
}
body {
   overflow: hidden;
   color: #FFF;
   background-color: #130241;
}
#logo{
   max-width: 500px;
   outline: none;
   position: relative;
   left: 0px;

}


/* MUDANÇAS VETOR */
/* input[type = text], input[type = password], input[type = number] {
   width: 400px;
   border-color: transparent;
   padding: 7px;
   margin-bottom: 10px;
   color: black;
   border-radius: 4px;
   font-size: 17px;
} */

input {
   outline: none;
}

.far {
   display: none;
}

/* TELA INICIAL */
/* .field:focus { */
   /* -webkit-box-shadow: 0px 0px 11px 1px rgba(255,77,1,1);
   -moz-box-shadow: 0px 0px 11px 1px rgba(255,77,1,1);
   box-shadow: 0px 0px 11px 1px rgba(255,77,1,1); */

   /* -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 77, 1, 1);
    box-shadow: 0px 0px 3px 1px rgba(255, 77, 1, 1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(255, 77, 1, 1); */
/* } */


.text-init {
   padding: 10px 50px 0px 50px;
   color: rgba(255, 255, 255, 0.5);
   line-height: 102%; 
   width: 500px;
   /* MUDANÇAS VETOR */
   text-align: center;
}
*{
   outline: none;
}
/* MUDANÇAS VETOR */
/* button, [type = button] {
   outline: none;
   width: 220px;
   height: 40px;
   border: none;
   border-radius: 8px;
   color: #FFF;
   font-family: Arial, Helvetica, sans-serif;
   -webkit-box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
} */

.btn-sociall{
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
   outline: none;
   width: 440px;
   box-shadow: 0 3px 9px 0 rgba(53,109,196,.33);
}

.ico-facebook {
   font-size: 25px;
   right: 5px;
   position: relative;
   margin: 0;
   top: 3.5px;
}
.ico-google{
   max-width: 30px;
   right: 10px;
   position: relative;
}
#btn-facebook {
   background-color: #4267b2;
}
#btn-google {
   background-color: black;
}

/* TELA DE LOGIN */
#load {
   max-width: 25px;
   position: relative;
   top: -45px;
   left: 170px;
   display: none;
   margin-bottom: -25px;
}

.welcome {
   padding: 5px 50px 10px 50px;
   color: rgba(255, 255, 255, 0.7);
   text-align: center;
}
/* MUDANÇAS VETOR */
/* #btn-login, #btn-entrar{
   width: 312px;
   height: 45px;
   background: #FF4D01;
   border: 2px solid #FF4D01;
   box-sizing: border-box;
   border-radius: 8px;
   color: #FFF;
   position: relative;
   top: -5px;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   -webkit-box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
} */

#btn-login {
   top: 10px;
   bottom: 20px;
}

/* RADIO BUTTON */
.custom-radio .custom-control-label::before {
   background-color: Linen;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
   background-color: #FF4D01;  
   border-radius: 50%;
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
   color: #fff;
   background-color: #FF4D01; 
}
/*  */

/* TELA DE CADASTRO */
#sign-screen {
   display: none;
   height: 400px;
   overflow: none;
}

#sign-screen::-webkit-scrollbar-track
{
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #F5F5F5;
}

#sign-screen::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#sign-screen::-webkit-scrollbar-thumb
{
	border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #FF4D01;
}
#span-invalid{
   color: red;
   font-weight: bold;
}
/* MUDANÇAS VETOR */
/* #cpf, #ddn, #cep{
   width: 197px;
}
#cep {
   margin-top: 10px;
   margin-bottom: 0;
} */
#span-cep{
   color: rgba(255, 255, 255, 0.5);
   text-decoration: underline;

   /* MUDANÇAS VETOR */
   /* padding-bottom: 20px; */
   
}

.btn-ok {
   background-color: #FF4D01;
   text-align: center;

   /*MUDANÇAS VETOR*/
   /* width: 60px; */
   
}

#address{
   
   display: none;

   /* MUDANÇAS VETOR */
   /* margin-top: 30px; */
}
/* MUDANÇAS VETOR */ 
/* #num {
   
   width: 100px;
} */

/* MUDANÇAS VETOR */
/* #complemento{
   width: 295px;
} */
/* #cidade{
   width: 320px;
}
#uf{
   width: 75px;
} */

#form-physical {
   display: block;
}
#form-legal {
   display: none;
}
#legal-tel{
   display: none;
}

/* ANIMAÇÕES */

/* SURGIMENTO DO FORM */
@keyframes arising {
   from {
      transform: translateY(100vh)
   }
   50% {
      transform: translateY(0)
   }
   to {
      transform: translateY(0)
   }
}

/* SEPARAÇÃO DAS DIVS */
@keyframes separationForm {
   from {
      left: calc(50% - 250px); /* centralizada */
      /* transform: translateX(calc(50% - 305px)) */
   }
   50% {
      left: 0;
   }
   to {
      left: 0;
   }
}
@keyframes separationSlider{
   from {
      left: calc(50% - 750px); /* centralizada */
      /* transform: translateX(calc(50% - 305px)) */
   }
   50% {
      left: -10px;
   }
   to {
      left: -10px;
   }
}
.separation-Form {
   animation: separationForm 0.9s forwards;
}
.separation-Slider{
   animation: separationSlider 0.9s forwards;
}

/* CAMPO NULO (NO-NO) */
@keyframes nono{
   0%, 100% {
     transform: translateX(0)
   }
   35% {
     transform: translateX(-3%)
   }
   70% {
     transform: translateX(3%)
   }
}


.wrong-field{
   animation: nono 0.3s;
   border-color: red;
   animation-iteration-count: 2;
}

/* SURGIMENTO DOS FORMS */
@keyframes fade{
   from {
      transform: translateY(0);
      opacity: 1;
   }
   to {
      opacity: 0;
      transform: translateY(50px);
   }
}
.init-fade {
   animation: fade 0.7s;
}

@keyframes show{
   from {
      transform: translateY(40px);
      opacity: 0.2;
   }
   50%{
      opacity: 0.5;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}
.form-show {
   animation: show 1s;
   /* animation-delay: 1s; */
}


/* RESPONSIVIDADE */
@media only screen and (max-width: 900px) {
   
   /* MUDANÇAS VETOR */
   /* input[type=number], input[type=text], input[type = password] {
         width: 300px;
      }
      */
   } 
