@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
.title{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    
    /*MUDANÇAS VETOR*/
    text-align: center;
    /* padding: 30px 50px 10px 50px; */
}
.child form {
    background-color: #3D1550;
    height: 615px;
    border-radius: 15px;
    z-index: 3;
    left: calc(50% - 250px);
 
    -webkit-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.75);

    /*MUDANÇAS VETOR*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 0px 0px 0px;
    /*align-items: stretch*/ 
}
.text-init {
    color: rgba(255, 255, 255, 0.5);
    line-height: 102%; 
    /* MUDANÇAS VETOR */
    text-align: center;
}
#init {
    display: flex;
    flex-direction: column;
    
}

.btn-social {
   -webkit-box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   border-radius: 4px;
   outline: none;

   /* MUDANÇAS VETOR */
   /* margin-top: 20px; */
   /* width: 350px;  */
    color: white;
    border-color:  #4267b2;
}
/* MUDANÇAS VETOR */
.container-or{
    text-align: center;
}
or {
    position: relative;
    top: 5px;
    padding: 0 5px 0 5px;
}
#login-screen {
    display: none;    
}
.container-people{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-people>label{
    margin-right: 10px;
}
.container-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.container-endereco{
    display: flex;
    flex-direction: column;

}
.container-cep{
   display: flex;
   justify-content: center;
   flex-direction: row;
    
 }

 
#btn-login, #btn-entrar{
   
   background: #FF4D01;
   border: 2px solid #FF4D01;
   box-sizing: border-box;
   border-radius: 8px;
   color: #FFF;
   
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   -webkit-box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);
   box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.75);

   /* MUDANÇAS VETOR */
   /* position: relative;
   top: -5px;
   width: 312px;
   height: 45px; */
}
.paddingVertical{
    padding: 0px 50px 0px 50px;
}
.btnPadding{
    padding: 0px 40px 0px 40px;
}