@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:500&display=swap');

.div-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.search-bar i {
    position: absolute;
    font-size: 22px;
    color: #dddd;
    /* padding */
    /* left: -2px; */
    z-index: 4;
}
.search-bar #search-ico {
    height: 32px;
    cursor: pointer;
    width: 30px;
    background-color: #FFF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13px;
    border-radius: 4px;
    /* left: calc(200% - 30px); */
    /* left: 510px; */
    left: 37.5%;
}
.flex-exception {
    height: auto !important;
}
.div-flex-h {
    flex-direction: row;
}
.flex-start {
    justify-content: flex-start;
}
#body {
    width: 100vw;
    height: 364vh;
    padding: 0 50px;
    /* background-color: pink; */
    z-index:4;
}

.carousel {
    /* margin: 0px 30px 0px 30px; */
    margin-bottom: 80px;
    position: relative;
    top: 35px;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(90%);
}
#img-bigger {
    /* max-width: 95%; */
    min-width: 110%;
    /* background-color: pink;  */
}
#img-bigger img {
    min-width: 90%;
    position: relative;
    left: 0px;
}
body, html {
    overflow: auto;
}

.carousel-products {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#products {
    width: 1440px;
    position: relative;
    margin-top: 30px;
    left: calc(50% - 720px);
}
.product {
    max-width: 300px;
}
.images-align{
    justify-content: center;
    flex-direction: row;
    display: flex;
}
.cardp a {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #24282b;
    line-height: 5px;
    /* margin-top: 10px; */
}
.cardp a:hover {
    color: #24282b;
}
.card>p {
    margin-top: 10px;
    padding-top: 10px;
}
.cardp .price {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000;
}
.btn-add-car {
    background-color: transparent;
    border-radius: 4px;
    color: #000;
    border: 1px solid black;
    height: 45px;
    width: 180px;
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.btn-add-car:hover {
    /* background-color: #FF4D01; */
    /* background-color: #130248; */
    /* background-color: #3D1550; */
    background-color: #130248c7;
    border: none;
    color: #FFF;
    transition: 0.3s;
}
.cardp {
    border-radius: 4px;
    background-color: #FFF;
    width: 300px;
    height: 400px;
    /* margin: 7px; */
    border: 0.8px #dddddd solid;
    border-right: none;
    padding: 10px;
}
.last-cardp {
    border-right: .8px #dddddd solid;
}
.cardp:hover {
    animation: fqade 0.5s;
    /* transform: scale(1.1); */
}
.inivisible {
    visibility: hidden;
    /* display: none; */
    /* position: absolute; */
    width: 170px;
    height: 150px;
}
.line {
    width: 95%;
    height: 0;
    border: 1px #130248 solid;
    /* margin: 10px 30px 30px 20px;  */
}
.titles {
    position: relative;
    top: 35px;
    margin-left: 130px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 26px;
    font-family: 'Noto Sans JP', sans-serif;
}
.product {
    max-width: 200px;
    cursor: pointer;
}
.marcas-container{
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marcas {
    width: 180.02px;
    height: 100.29px;
    background-color: #130248;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 9px;
    flex-direction: row;
    margin: 10px;
    cursor: pointer;
}
.marcas-logos {
    max-width: 180px;
}

/* .carousel-control-next, .control-product{
    background-color: black;
    opacity: 1;
    height: 100px;
    width: 50px;
    position: relative;
    top: 20px;
} */
footer {
    background-color: #130248;
    width: 100%;
    height: 200px;
}
footer h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px !important;
    color: #FFF !important;
    margin-bottom: 15px;
}
footer img {
    max-width: 130px;
}
footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* .flex-footer {
    justify-content: space-between;
} */
.footer-conteudo {
    margin: 100px;
    /* background-color: red; */
    
}
.footer-text {
    height: 100px;
    text-align: justify;
    color: #ddd;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    line-height: 25px;
}
footer i {
    font-size: 19px;
    font-weight: 100;
    padding-right: 10px;
}
.contact-text div{
    margin-bottom: 5px;
}
#sub-footer {
    height: 70px;
    width: 100%;
    background-color: #130248c7;
    color: wheat;
    /* position: fixed; */
    position: absolute;

    /* top: 200px; */
    top: calc(364vh + 200px);
}
.social-networks {
    width: 50px;
    height: 50px;
    margin: 0px 15px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    cursor: pointer;
}
.social-networks i {
    /* background-color: #000; */
    padding-left: 10px;
    align-self: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
}
#youtube-icon {
    background-color: red;
}
#facebook-icon {
    background-color: #3b5998;
}
#instagram-icon {
    background-color: #bc2a8d;
}