#containerr {
    width: 100%;
    height: calc(100vh - 70px);    
    position: absolute;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
}
#banner {
    width: 80%;
    height: 250px;
    background-color: rgb(153, 0, 0);
    margin: 30px;
}
.div-flex {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.flex-total {
    height: 100%;
}
.div-flex-h {
    flex-direction: row;
}

.account{
    margin-top: 100px;
    max-width: 600px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.account>p {
    font-size: 24px;
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
}
.photo-profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin: 0;
    background-image: url(../img/avatar2.jpeg);
    background-size: contain;
    background-color: #444;
    cursor: pointer;
    margin-bottom: 20px;
}
.photo-filter {
    border: none;
    width: 125px;
    height: 125px;
    visibility: hidden;
    background-image: none;
    background-color: rgba(0,0,0,0.4)
}
#avatares img{
    max-width: 200px;
}
#avatares {
    position: absolute;
    /* border: 2px solid black; */
    display: none;
    -webkit-box-shadow: -3px 3px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 11px -4px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 11px -4px rgba(0,0,0,0.75);
}
.disabled {
    cursor: not-allowed;
}
.little {
    /* width: 100px; */
    padding: 0 47px;
}
.little input[type=text] {
    width: 48%;
}
#cpf {
    margin-right: 10px;
}
#photo-profile i{
    font-size: 10px;
    text-align: center;
    align-items: center;
}
input[type=text], input[type=password] {
    width: 400px;
    border: 1px solid #ddd;
    padding: 7px;
    margin-bottom: 10px;
    color: black;
    border-radius: 4px;
    font-size: 17px;
}
* {
    outline: none;
}
form {
    /* background-color: royalblue; */
    width: 100%;
    height: 100%;
    margin-top: 20px;
    justify-content: flex-start !important;
}
#physical {
    display: flex;
}
#legal {
    display: none;
}
#button {
    height: 50px;
    width: 200px;
    color: #FFF;
    border: none;
    background-color: #FF4D01;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 10px 0px;
}

@media only screen and (max-width: 524px){
    input[type=text], input[type=password]{
        width: 300px;
    }
}
