@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee&display=swap');

#body-filter {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
    position: absolute;
    display: none;
}
#containerr {
    width: 100%;
    height: calc(100vh - 70px);    
    position: absolute;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
}
.gray {
    position: absolute;
    background-color: #444;
    width: 100vh;
    height: 100vh;
    z-index: 4;
}
#banner {
    width: 80%;
    height: 250px;
    background-color: rgb(153, 0, 0);
    margin: 100px 30px 30px 30px;
}
.div-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.div-flex-h {
    flex-direction: row;
}
.row {
    width: 100%;
    height: 300px;
}
.address{
    width: 80%;
    font-family: 'Roboto', sans-serif;
    
    /* position: absolute;
	bottom: 0;   */
}
.box-gray {
    /* padding: 0px !important; */
}
.address>p {
    font-size: 24px;
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
}
.address>p span {
    font-size: 16px;
    color: #afafaf;
    margin-left: 10px;
}
.address>p span blu {
    
    color: #19abfa;
}
.box-address {
    width: 250px;
    height: 230px;
    /* background-color: aqua; */
    margin-right: 15px;
    border-radius: 4px;
}
.client-address {
    border: 2px #ddd solid;
}

#dos {
    border: 3px #19abfa solid;
}
#add-address {
    border: 2px #ddd dashed;
    cursor: pointer;
    color: #dddd;
}
#add-address h2 {
    margin-top: 10px;
    font-size: 19px;
    text-align: center;
}
.plus-ico {
    color: #ddd !important;
    align-items: center;
    font-size: 40px;
}
#add-address .div-flex {
    /* background-color: red; */
    /* width: 250%; */
}

/* body {
    background-color: #444;
    opacity: 1.3;   
} */
#form-address {
    width: 450px;
    height: 560px;
    background-color: #FFF;
    position: absolute;
    -webkit-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.35);
    box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.35);
    z-index: 5;
    display: none;
    border-radius: 4px;
    /* padding: 0 40px; */
}
#form-address h2 {
    font-size: 22px;
    margin: 20px 0 30px 0;
    font-family: 'Mukta Mahee', sans-serif;
}
#btn-add-address {
    background-color: #FF4D01;
    /* background-color: #130248; */
    border: none;
    border-radius: 4px;
    width: 170px;
    height: 40px;
    color: #FFF;
    margin-top: 20px;
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
#divv {
    width: 100vw !important;
    height: calc(100vh - 70px) !important;
    margin: 0px;
}
input[type=text], input[type=password] {
    width: 380px;
    /* width: 100%; */
    border: 1px solid #ddd;
    padding: 7px;
    margin-bottom: 10px;
    color: black;
    border-radius: 4px;
    font-size: 17px;
}

#form-address img {
    max-width: 30px;
    text-align: right;
    margin: 10px;
    cursor: pointer;
}
.info-address {
    padding: 20px;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 17px;
    height: 100%;
    /* text-align: center; */
}
.info-address p{
    margin: 0;
}
.btn-box {
    margin: none;
    margin-right: 15px;
    position: relative;
    /* bottom: 0; */
    top: -45px;
}
.btn-box button {
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 35px;
    color: #FFF;
}

.btn-editar {
    color: #3D1550 !important;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #3D1550 !important;
    /* font-weight: bolder; */
    /* background-color: #3D1550; */
    background-color: #FFF;
    transition: 0.3s;  
}
.btn-editar:hover {
    color: #FFFF !important;
    background-color: #3D1550;
}
.btn-box .div-flex {
    text-align: right;
    justify-content: flex-end;
}